@import "tailwindcss";


@theme {
  /* Base */
  --color-cream: #F8F5F0;
  --color-white: #FFFFFF;

  /* Text */
  --color-black: #1F1F1F;
  --color-gray: #6B6B6B;

  /* Accent */
  --color-gold: #B89B5E;
  --color-gold-light: #C7AE79;
  --color-gold-dark: #9F7E42;

  /* Borders / subtle backgrounds */
  --color-beige: #E9E2D7;
  --color-brown: #8B6F52;
}

html {
  scroll-behavior: smooth;
}